p= @sale_apartment.user.name
p= @sale_apartment.user.number
p= @sale_apartment.square_apartment
p= @sale_apartment.price_apartment
p= @sale_apartment.price_per_square_meter_apartment
p= @sale_apartment.description_sale

- if @sale_apartment.file.attached?
  =image_tag @sale_apartment.file, style: "width: 250px"
